<!-- Navbar -->
<nav class="navbar navbar-dark primary-color navbar-expand-lg scrolling-navbar double-nav">

    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto">
        <a class="navbar-brand" href="/"><img src="../../static/heartbeat.svg" height="30" width="30" alt=""><span class="white-text"> IPMS</span></a>
    </div>

    <!--Navbar links-->
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" id="newDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
            </a>
            <!--Navbar for Employees-->
            {% if current_user.reg_no != 'Admin' and "Model1.Patient" not in entity %}
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#personalInfo">View Personal Info</a>
                <a class="dropdown-item" href="/update_password">Change Password</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
            <!--Navbar for Patient-->
            {% elif current_user.reg_no != 'Admin' and "Model1.Patient" in entity %}
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#patientInfo">View Personal Info</a>
                <a class="dropdown-item" href="/update_password">Change Password</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
            <!--Navbar for Admin-->
            {% else %}
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newDropdown">
                <a class="dropdown-item" href="/update_password">Change Password</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
            {% endif %}
        </li>
        {% elif contact %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">About</span></a>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="https://github.com/fahadimran1913/Hospital-Management-System">Contact Us</a>
<!--                <a class="dropdown-item" href="#">Members</a>-->
            </div>

        </li>

        {% else %}
        <!--        <a href="#" class="nav-link" data-toggle="modal" data-target="#login-modal">Login</a>-->
        {% endif %}


    </ul>
    <!--/Navbar links-->
    <!-- Employee Personal Info modal -->
    {% if not contact %}
    {% if current_user.reg_no != "Admin" and current_user.is_authenticated and "Model1.Patient" not in entity %}
    <div class="modal fade" id="personalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header white-text primary-color">
                    <h5 class="modal-title white-text" id="personalInfoTitle">Personal Details</h5>
                    <button type="button" class=" white-text close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body info-body">
                    <div class="names">

                        <span style='font-weight: bold;'>First Name:</span><br>
                        <span style='font-weight: bold;'>Last Name:</span><br>
                        <span style='font-weight: bold;'>Gender:</span><br>
                        <span style='font-weight: bold;'>Email:</span><br>
                        <span style='font-weight: bold;'>Contact No:</span><br>
                        <span style='font-weight: bold;'>Bank Account No:</span><br>
                    </div>
                    <div class="values">

                        <span >{{ personal_info.fname }}</span><br>
                        <span >{{ personal_info.lname }}</span><br>
                        <span >{{ personal_info.gender }}</span><br>
                        <span >{{ personal_info.email }}</span><br>
                        <span >{{ personal_info.contact_no }}</span><br>
                        <span >{{ personal_info.account_no }}</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!--    Patient Personal Info Model-->
    {% if not contact %}
    {% if current_user.reg_no != "Admin" and "Model1.Patient" in entity %}
    <div class="modal fade" id="patientInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header white-text primary-color">
                    <h5 class="modal-title white-text" id="patientInfoTitle">Personal Details</h5>
                    <button type="button" class=" white-text close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body info-body">
                    <div class="names">

                        <span style='font-weight: bold;'>First Name:</span><br><br>
                        <span style='font-weight: bold;'>Last Name:</span><br><br>
                        <span style='font-weight: bold;'>Gender:</span><br><br>
                        <span style='font-weight: bold;'>Blood Group:</span><br><br>
                        <span style='font-weight: bold;'>Disease:</span><br><br>
                        <span style='font-weight: bold;'>Email:</span><br><br>
                        <span style='font-weight: bold;'>Contact No.:</span><br><br>
                    </div>
                    <div class="values">

                        <span >{{ personal_info.fname }}</span><br><br>
                        <span >{{ personal_info.lname }}</span><br><br>
                        <span >{{ personal_info.gender }}</span><br><br>
                        <span >{{ personal_info.blood_group }}</span><br><br>
                        <span >{{ personal_info.disease }}</span><br><br>
                        <span >{{ personal_info.email }}</span><br><br>
                        <span >{{ personal_info.contact_no }}</span><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</nav>


